{% extends "base.html" %}


{% block content %}

<h1>Vitamins</h1>

<form method="POST" action=""> {% csrf_token %}
<h4>Not counting multi-vitamins, do you take any of the following preparations?</h4>
    {{ formset.management_form }}
    {% for form,vitamin in formzip%}
				<table>
       	    	<ul>
				 <b>{{vitamin}}</b>
           		 {{ form.vitamin_Boolean }}
				 {{ form.vitamin_Boolean.help_text}}
        		 Dose per day:    {{ form.vitamin_Amount }}
        		 </ul>
			 </table>
	{% endfor %}
<input type='submit' value='Submit' class='btn' />
</form>
{% endblock %}